<div class="hero-wrap" style="background-image: url('/assets/bg_7.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
    <div class="row no-gutters slider-text align-items-center" data-scrollax-parent="true">
        <div class="col-md-5 ftco-animate text-center welcome_text" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Bienvenido a</h1>
          <p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><%= image_tag 'helpet.png', height: 80, width: 200 %></p>
          <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#donate" class="btn btn-info btn-outline-white px-5 py-3">Apóyanos</a></p>
      </div>
    </div>
</div>

<%= render 'adopt' %>
<%= render 'download_app' %>
<%= render 'donate' %>

<a href="https://<%= browser.device.mobile? ? 'api' : 'web'%>.whatsapp.com/send?phone=573185456733&amp;text=Hola HelPet Project." class="whatsapp" target="_blank"><i class="fa fa-whatsapp whatsapp-float"></i></a>
